
/* msg Code Bold Regular */
@font-face {
    font-family:  'msg Code';
    src:          url('msgCode-BoldRegular.woff2') format('woff2'),
                  url('msgCode-BoldRegular.woff') format('woff'),
                  url('msgCode-BoldRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

