
/* msg CS Note Bold Italic */
@font-face {
    font-family:  'msg CS Note';
    src:          url('msgCSNote-BoldItalic.woff2') format('woff2'),
                  url('msgCSNote-BoldItalic.woff') format('woff'),
                  url('msgCSNote-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

