
/* msg CI Text Normal Italic */
@font-face {
    font-family:  'msg CI Text';
    src:          url('msgCIText-NormalItalic.woff2') format('woff2'),
                  url('msgCIText-NormalItalic.woff') format('woff'),
                  url('msgCIText-NormalItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

