
/* msg CS Code Bold Italic */
@font-face {
    font-family:  'msg CS Code';
    src:          url('msgCSCode-BoldItalic.woff2') format('woff2'),
                  url('msgCSCode-BoldItalic.woff') format('woff'),
                  url('msgCSCode-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

