
/* msg CS Note Bold Regular */
@font-face {
    font-family:  'msg CS Note';
    src:          url('msgCSNote-BoldRegular.woff2') format('woff2'),
                  url('msgCSNote-BoldRegular.woff') format('woff'),
                  url('msgCSNote-BoldRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

