
/* msg CS Note Normal Regular */
@font-face {
    font-family:  'msg CS Note';
    src:          url('msgCSNote-NormalRegular.woff2') format('woff2'),
                  url('msgCSNote-NormalRegular.woff') format('woff'),
                  url('msgCSNote-NormalRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

