
/* msg Deco Bold Regular */
@font-face {
    font-family:  'msg Deco';
    src:          url('msgDeco-BoldRegular.woff2') format('woff2'),
                  url('msgDeco-BoldRegular.woff') format('woff'),
                  url('msgDeco-BoldRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

