
/* msg Edge Bold Italic */
@font-face {
    font-family:  'msg Edge';
    src:          url('msgEdge-BoldItalic.woff2') format('woff2'),
                  url('msgEdge-BoldItalic.woff') format('woff'),
                  url('msgEdge-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

