
/* msg Edge Normal Regular */
@font-face {
    font-family:  'msg Edge';
    src:          url('msgEdge-NormalRegular.woff2') format('woff2'),
                  url('msgEdge-NormalRegular.woff') format('woff'),
                  url('msgEdge-NormalRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* msg Edge Normal Italic */
@font-face {
    font-family:  'msg Edge';
    src:          url('msgEdge-NormalItalic.woff2') format('woff2'),
                  url('msgEdge-NormalItalic.woff') format('woff'),
                  url('msgEdge-NormalItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* msg Edge Bold Regular */
@font-face {
    font-family:  'msg Edge';
    src:          url('msgEdge-BoldRegular.woff2') format('woff2'),
                  url('msgEdge-BoldRegular.woff') format('woff'),
                  url('msgEdge-BoldRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* msg Edge Bold Italic */
@font-face {
    font-family:  'msg Edge';
    src:          url('msgEdge-BoldItalic.woff2') format('woff2'),
                  url('msgEdge-BoldItalic.woff') format('woff'),
                  url('msgEdge-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

