
/* msg Edge Bold Regular */
@font-face {
    font-family:  'msg Edge';
    src:          url('msgEdge-BoldRegular.woff2') format('woff2'),
                  url('msgEdge-BoldRegular.woff') format('woff'),
                  url('msgEdge-BoldRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

