
/* msg Text Bold Italic */
@font-face {
    font-family:  'msg Text';
    src:          url('msgText-BoldItalic.woff2') format('woff2'),
                  url('msgText-BoldItalic.woff') format('woff'),
                  url('msgText-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

